 .body{
    background-color: #f1f1f1;
 }
.font{
    font-family: 'Roboto', sans-serif;
 }


 .rectangel{
    height: 500px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 1px 4px 4px 1px rgba(85, 85, 85, 0.25);
 }

 .brn-style{
    width: 200px;
    height: 45px;
    border-radius: 8px;
    color: white;
    background-color: #25657e;
  }

  .img-avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  } 

  .cardtitle{
    color: #25657e;
    font-weight: 600;


  }

  .h3{
    color: red;
  }